body {
    margin: 0;
}

.container{
    width: 380px;
    margin: auto;
    margin-top: 20px;
    background-color: rgb(207, 241, 239);
    border: solid rgb(202, 202, 240);
    border-radius: 2%;

}

header {
    width: 380px;
    height: 200px;
    display: block;
    background-color: rgb(202, 202, 240);
}

.clear {
    position: relative;
    top: 5px;
    right: 5px;
    float: right;

}

#date {
    clear: both;
    position: relative;
    bottom: 10px;
}

.content {
    width: 100%;
    height: 522px;
    
}

.item {
    display: inline;

}

#addToDo {
    width: 100%;
    height: 50px;
    display: inline;
    position: absolute;
    bottom: 10px;
}