body {
    margin: 0;
}

.container{
    width: 380px;
    margin: auto;
    margin-top: 20px;
    background-color: rgb(207, 241, 239);
    border: solid rgb(202, 202, 240);
    border-radius: 2%;

}

header {
    width: 380px;
    height: 180px;
    display: block;
    background-color: rgb(202, 202, 240);
}

.clear {
    position: relative;
    top: 10px;
    right: 20px;
    float: right;
}
.clear i {
    transition: transform .3s ease-in-out;

}

.clear i:hover {
    transform: rotate(180deg);
}

#date {
    clear: both;
    position: relative;
    top: 120px;
    left: 20px;
    font-family: 'Ubuntu', sans-serif;
    font-size: xx-large;
    
}

.content {
    width: 100%;
    height: 528px;
    
}



#list {
    list-style-type: none;
    position: relative;
    margin: 0;
    padding: 0 20px;
    
}

/* checkIcon  <i class="far fa-check-circle"></i> */

.text {
    display: inline-block;
    padding: 0 10px;
    width: 275px;
    margin-bottom: 2px;
    border-bottom-style: ridge;

}

.lineThrough {
    text-decoration: line-through;
}

.flex-end {
    justify-content: flex-end;
}


#addToDo {
    clear: both;
    display: inline;
    position: relative;
    left: 20px;
    bottom: 10px;
}

#addToDo input {
    margin-left: 10px;
    padding-left: 5px;
    width: 300px;
    height: 25px;
}